*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/app/build/
/build/
*/build/
*/*/build/
/*/build/
/*/*/build/
/*/*/*/build/

/plugin/MSDKQuality/src/main/java/com/yy/msdkquality/YConfig.java
