*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/app/build/
/build/
/saltonframework/build/
/3rd/okfiledownloader/build/
*/build/
*/*/build/
/*/build/
3rd/DroidPlugin/
3rd/filedownloader/
3rd/okfiledownloader/.gitignore
3rd/okfiledownloader/build.gradle
3rd/okfiledownloader/libs/
3rd/okfiledownloader/proguard-rules.pro
3rd/okfiledownloader/src/androidTest/
3rd/okfiledownloader/src/main/AndroidManifest.xml
3rd/okfiledownloader/src/main/res/
3rd/okfiledownloader/src/test/
3rd/okhttputils/
app/libs/
app/src/main/res/drawable/
saltonframework/libs/
saltonframework/src/main/res/drawable/
